body {
    margin: 10px auto;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.tabs {
    display: flex;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1em;
}
.tab {
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid transparent;
    border-bottom: none;
    background-color: #f3f3f3;
    margin-right: 5px;
    border-radius: 5px 5px 0 0;
}
.tab.active {
    background-color: #fff;
    border-color: #ccc;
    border-bottom: 1px solid #fff;
}
.tab-content {
    display: none;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0 5px 5px 5px;
}
.tab-content.active {
    display: block;
}
